/*todo\\ 2차원 페이지 만들기 -> grid 사용 */

#wrapper {
    display: grid;
    grid-template:
        "logo topbar" 77px
        /*! css 선언만 가능 - 연산 불가능 / 연산을 가능하게 해주는 css 제공 `calc` 사용 */
        /* "sidenav main" calc(100vh - 77px)  */
        "sidenav main" minmax(1043px, auto)
        / 257px minmax(1182px , 1fr);  /* 최대 1182px , 최소는 그 나머지 */
}

.logo-container {
    grid-area: logo;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(233,236,239,1);

    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 173%;
    color: rgba(64,64,64,1);
}

.top-bar-container {
    grid-area: topbar;

    display: flex;
    justify-content: space-between; /* */
    align-items: center;

    padding: 0 24px;

    border-left: 1px solid rgba(233,236,239,1);
    border-bottom: 1px solid rgba(233,236,239,1);
}

.side-navigation-container {
    grid-area: sidenav;
}

.main-container {
    grid-area: main;
}